:root {
    --primary-color: #FAE76A;
    --secondary-color: #5a77ff;
}

@font-face {
    font-family: "main-font";
    src: url(fonts/Mountains_of_Christmas/MountainsofChristmas-Bold.ttf);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
}

#main {
    text-align: center;
}

#logo {
    margin: 1vw 0 0.5vw 0;
    height: 25vw;
    width: 30vw;
}

#subtitle {
    font-family: main-font;
    font-size: min(5vw, 60px);
    color: var(--primary-color);
    margin: 0;
}

#subtitle-bg-div {
    display: flex;
    justify-content: center;
}

#text {
    font-family: main-font;
    font-size: 10vw;
    color: white;
    margin: 5vw;
}
